*{
  margin: 0;
}
body {
  font-family: "Manrope";
  font-size: 1em;
  background-color: #1F2039;
}
a {
  text-decoration: none;
  color: #242424;
}
a:hover{
  text-decoration: underline;
}
em {
  color: #a5b4fc;
}
h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat";
}
p,li {
  font-size: 1.1em;
  font-family: "Manrope";
  color: #f9f8ff;
}
header,footer{
    background-color: white;
    padding: 20px 50px 20px 50px;
}
h2{
  color: #f9f8ff;
}
.cta{
  background: linear-gradient(#8E86B5,#ACAEED);
  color: white;
  border-radius: 50px;
  
}
.cta:hover{
  background: linear-gradient(#696484,#8788BA);
  text-decoration: none;
}
#aboutAp{
  border-right:1px solid #A5B4FC ;
  border-bottom: 1px solid #A5B4FC;
  padding: 50px;
}
.lien-icone:hover{
  opacity: 0.5;
}
section{
  padding: 80px;
}
#abt-main{
  width: 50%;
  margin: auto;
}
#aboutAp h2{
  margin-top: 20px;
}
#aboutAp ul{
  margin-top: 20px;
}
.header-container{
  display: flex;
  justify-content: space-between;
}
.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.container1{
  display: flex;
}
.sec-img{
  width: 30%;
  margin-bottom: 20px;
}
nav a {
  margin-left: 30px;
}
.section2{
  background-color: white;
  margin-bottom: 30px;
}
.section2 h2{
  color: #242424;
  text-align: center;
  margin-bottom: 80px
}
footer{
  display: flex;
  justify-content: space-between;
}
footer a{
  margin-left: 20px;
}