body {
  font-family: "Manrope";
  font-size: 1em;
  background-color: #1F2039;
}
a {
  text-decoration: none;
  color: #242424;
}
a:hover{
  text-decoration: underline;
}
em {
  color: #a5b4fc;
}
h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat";
}
p,li {
  font-size: 1.1em;
  font-family: "Manrope";
  color: #f9f8ff;
}
header,footer{
    background-color: white;
}
h2{
  color: #f9f8ff;
}
.cta{
  background: linear-gradient(#8E86B5,#ACAEED);
  color: white;
  border-radius: 50px;
  
}
.cta:hover{
  background: linear-gradient(#696484,#8788BA);
  text-decoration: none;
}
#aboutAp{
  border-right:1px solid #A5B4FC ;
  border-bottom: 1px solid #A5B4FC;
}
.lien-icone:hover{
  opacity: 0.5;
}